.main {
    width: 50%;
    margin: 0 auto;
}


.code_with_henry {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.code_with_henry div {
    font-family: Arial, Helvetica, sans-serif;
}

.img-tut{
    width: 50%;
    height: 50%;
}

.a-tut{
    text-decoration: none;
    color: black;
}