{% extends "layout.html" %}
{% block body %}
<title>Tutorials</title>
    <div class="main">
         
        <a class="a-tut" href="https://www.youtube.com/watch?v=7Dh73z3icd8&list=PLu0W_9lII9aiXlHcLx-mDH1Qul38wD3aR" target="_blank">
          <div class="code_with_henry">
        	<div>
        		<img class="img-tut" src="{{ url_for('static', filename='images/c_lang.png') }}" alt="Python Django Tutorials">
            </div>
           <div>
        	    C language Tutorials
           </div>
          </div>
        </a>
       
       <hr>
       
       <a class="a-tut"  href="https://www.youtube.com/watch?v=ntLJmHOJ0ME&list=PLu0W_9lII9agS67Uits0UnJyrYiXhDS6q" target="_blank"> 
        <div class="code_with_henry">
        	<div>
        		<img class="img-tut" src="{{ url_for('static', filename='images/java_logo.jpg') }}" alt="Java Tutorials">
            </div>

            <div>
             Introduction to Java
            </div>
        </div>
       </a>
       
       <hr>
        
       <a class="a-tut"  href="https://www.youtube.com/watch?v=AT14lCXuMKI&list=PLdo5W4Nhv31bbKJzrsKfMpo_grxuLl8LU" target="_blank">
          <div class="code_with_henry">
        	<div>
        			<img class="img-tut" src="{{ url_for('static', filename='images/th.jpg') }}" alt="Data Structure and Algorithms">
            </div>
            <div>
                 Data Structure and Algorithms Tutorials
            </div>
          </div>
        </a>
        <hr>
       
        <a class="a-tut" href="https://www.youtube.com/watch?v=j8nAHeVKL08&list=PLu0W_9lII9agpFUAlPFe_VNSlXW5uE0YL" target="_blank">
          <div class="code_with_henry">
        	<div>
        			<img class="img-tut" src="{{ url_for('static', filename='images/C++.jpg') }}" alt="C++ Tutoirials">
            </div>
            <div>
            	C++ Programming Tutorials
           </div>
          </div>
        </a>
       <hr>
        
        <a class="a-tut" href="https://www.youtube.com/watch?v=_u-PaJCpwiU&list=PLu0W_9lII9ai6fAMHp-acBmJONT7Y4BSG" target="_blank">
          <div class="code_with_henry">
        	<div>
        			<img class="img-tut" src="{{ url_for('static', filename='images/machine-learning.png') }}" alt="Machine Learning Tutoirials">
            </div>
            <div>
                Machine Learning Tutoirials        	   
            </div>
          </div>
        </a>
        
         
        <hr>
       
        <a class="a-tut" href=" https://www.youtube.com/watch?v=6mbwJ2xhgzM&list=PLu0W_9lII9agiCUZYRsvtGTXdxkzPyItg" target="_blank">
         <div class="code_with_henry">
        	<div>
        			<img class="img-tut" src="{{ url_for('static', filename='images/web-development-logo-clipart.jpg') }}" alt="Web development Using HTML5 CSS3 Javascript">
            </div>
            <div>
        	   Web development Using HTML5 CSS3 Javascript
        	   
            </div>
        </div>
        </a>

        <hr>
       
        <a class="a-tut" href=" https://www.youtube.com/watch?v=at19OmH2Bg4&list=PLu0W_9lII9aikXkRE0WxDt1vozo3hnmtR" target="_blank">
          <div class="code_with_henry">
        	<div>
        	      <img class="img-tut" src="{{ url_for('static', filename='images/php.jpg') }}" alt="PHP Pragramming Tutorials">
            </div>
            <div>
            	PHP Programming Tutorials
            </div>
        </div>
       </a>

        <hr>

        <a class="a-tut" href="https://www.youtube.com/watch?v=roDz8mMvbIg&list=PLknSwrodgQ72X4sKpzf5vT8kY80HKcUSe" target="_blank">
          <div class="code_with_henry">
        	<div>
        		<img class="img-tut" src="{{ url_for('static', filename='images/Android.jpg') }}" alt="Android development Tutorials">
            </div>
            <div>
            	Android development Tutorials
            </div>
        </div>
        </a>
        
        <hr>

      <a class="a-tut" href="https://www.youtube.com/watch?v=cvvwkgp4HBg&list=PLu0W_9lII9ajyk081To1Cbt2eI5913SsL" target="_blank">  
        <div class="code_with_henry">
        	<div>
        			<img class="img-tut" src="{{ url_for('static', filename='images/javascript.jpg') }}" alt="Javascript Programming Tutorials">
            </div>
            <div>
            	Javascript Programming Tutorials
            </div>
        </div>
        </a>

        <hr>
       
        <a class="a-tut" href="https://www.youtube.com/watch?v=5BDgKJFZMl8&list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9" target="_blank">
          <div class="code_with_henry">
        	<div>
        		<img class="img-tut" src="{{ url_for('static', filename='images/python-django-logo.jpg') }}" alt="Python Django Tutorials">
            </div>
           <div>
        	    Python Django Tutorials
           </div>
          </div>
        </a>
    

        <hr>
       
        <a class="a-tut" href="https://www.youtube.com/watch?v=DD3ou9sa3Z8&list=PLu0W_9lII9agAiWp6Y41ueUKx1VcTRxmf" target="_blank">
          <div class="code_with_henry">
        	<div>
        		<img class="img-tut" src="{{ url_for('static', filename='images/flask.png') }}" alt="Python Django Tutorials">
            </div>
           <div>
        	    Python Flask Tutorials
           </div>
          </div>
        </a>
   
        
         <hr>
       
        <a class="a-tut" href="https://www.youtube.com/watch?v=aqvDTCpNRek&list=PLu0W_9lII9agICnT8t4iYVSZ3eykIAOME" target="_blank">
          <div class="code_with_henry">
        	<div>
        		<img class="img-tut" src="{{ url_for('static', filename='images/python.jpg') }}" alt="Python Django Tutorials">
            </div>
           <div>
        	    Python Tutorials
           </div>
          </div>
        </a>

    </div>
{% endblock %}
